

<body>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
             <!-- <div class="logo">
                <a href="./index.html">
                    <img src="img/hero-slider/ligo.png" alt="" style="width: 10%; height: 10%;">
                </a>
            </div>
           
                <div class="top-social">
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            -->
            
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="index.html">Fundación Semillas de Esperanza</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto my-2 my-lg-0">
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="" style="font-size: 25px;">Donaciones</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="contact.html" style="font-size: 25px;">Historias</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="blog.html" style="font-size: 25px;">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    
   
  
  <div class="content" >
    <section class="hero-section" >
        <div class="hero-items owl-carousel">
            <div class="single-hero-item set-bg " data-setbg="./assets/img/hero-slider/escuela.jpg">
                <div class="container" >
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>Titulo</h2>
                                <h1>Descripcion</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="./assets/img/hero-slider/escuelas.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>Titulo</h2>
                                <h1>Descripcion</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="./assets/img/hero-slider/campus.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>Titulo</h2>
                                <h1>Descripcion</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
    <!-- Hero Section Begin -->
    
    <!-- Hero End -->
  
  <!-- about_area  -->
  
  <section class="page-section bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="text-white mt-0">MISIÓN</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-10" style="font-size: 20px;">La fundación Semillas de Esperanza, tiene como objetivos crear y promocionar programas y servicios de desarrollo integral apadrinando centros infantiles del buen vivir, en donde se impulse la igualdad y el buen trato; y, la ejecución de proyectos encaminados a brindar ayuda con prioridad a aquellos que se encuentran en los sectores marginados.
                    Realizando actividades de atención familiar, apoyando el crecimiento de sus hijos, respetando una cultura de libre expresión, erradicando y separándoles del trabajo infantil y atendiendo las necesidades de los que se encuentran en situación de abandono y mendicidad.</p>
            </div>
        </div>
    </div>
  </section>
  
  <section class="page-section bg-white " >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="text-black mt-0">VISIÓN</h2>
                <hr class="divider light my-4" />
                <p class="text-black-50 mb-4" style="font-size: 20px;">La Fundación Semillas de Esperanza es una organización, sin ánimo de lucro, que tiene como fines proponer y ejecutar programas y servicios de cuidado e inclusión económica y social de desarrollo infantil, niños y niñas; con énfasis en aquella población que se encuentra en situación de exclusión, discriminación, pobreza, vulnerabilidad; promoviendo, asegurando, protegiendo y apoyando la restitución del ejercicio pleno de sus derechos, en todo su ciclo de vida</p>
            </div>
        </div>
    </div>
  </section>
  
  
  <section class="page-section bg-primary">
    <div class="container">
        <h2 class="text-white text-center mt-0">Algunas Historias</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    
                    <img class="img-fluid" src="./assets/img/hero-slider/escuela.jpg" alt="" />
                    <h3 class="h4 mb-2">Juan Esteban</h3>
                    <p class="text-white-50 mb-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img class="img-fluid" src="./assets/img/hero-slider/escuela.jpg" alt="" />
                    <h3 class="h4 mb-2">Esteban Juan</h3>
                    <p class="text-white-50 mb-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img class="img-fluid" src="./assets/img/hero-slider/escuela.jpg" alt="" />
                    <h3 class="h4 mb-2">Marco Antonio</h3>
                    <p class="text-white-50 mb-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img class="img-fluid" src="./assets/img/hero-slider/escuela.jpg" alt="" />
                    <h3 class="h4 mb-2">Pepe Armando</h3>
                    <p class="text-white-50 mb-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="col-lg-12 text-center">
        <button type="button" onclick="location.href='contact.html'  " class="btn btn-outline-light">Leer Todas</button>
    </div>
  </section>
  
  
  <section class="page-section ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-black mt-0">GALERÍA</h2>
                <hr class="divider light my-4" />
                <p class="text-black-50 mb-4">Unas fotos de nuetros recorridos</p>
            </div>
        </div>
    </div>
  </section>
  <!--/ about_area  -->
  
  
  <!-- galery-->
  <div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="./assets/img/hero-slider/escuela.jpg">
                    <img class="img-fluid" src="./assets/img/hero-slider/escuela.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="./assets/img/hero-slider/escuelas.jpg">
                    <img class="img-fluid" src="./assets/img/hero-slider/escuelas.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="./assets/img/hero-slider/escuela.jpg">
                    <img class="img-fluid" src="./assets/img/hero-slider/escuela.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="./assets/img/hero-slider/escuela.jpg">
                    <img class="img-fluid" src="./assets/img/hero-slider/escuela.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="./assets/img/hero-slider/escuela.jpg">
                    <img class="img-fluid" src="./assets/img/hero-slider/escuela.jpg" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-7">
                <a class="portfolio-box" href="./assets/img/hero-slider/campus.jpg">
                    <img class="img-fluid" src="./assets/img/hero-slider/campus.jpg" alt="" style="image-resolution:cover ;" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>
  <br><br>
  <!-- galery end-->
  
    
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-1">
                    <div class="footer-logo-item">
                        <a class="navbar-brand js-scroll-trigger" style="color: white;">Fundación Semillas de Esperanza</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eos quos autem aspernatur, dignissimos re.</p>
                        <div class="social-links"> 
                            <h6>SÍGUENOS EN </h6>
                            <a href="https://www.facebook.com/fundacionsemillasEc/"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-5">
                    <div class="footer-widget">
                        <h5>MÁS INFORMACIÓN</h5>
                        <ul class="footer-info">
                            <li>
                                <i class="fa fa-phone" style="color: rgb(0, 110, 255);"></i>
                                <span>Celular</span>
                                099 839 1982
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"style="color: rgb(0, 110, 255);"></i>
                                <span>Email:</span>
                               fundacionsemillas.ec@hotmail.com
                            </li>
                            <li>
                                <i class="fa fa-map-marker"style="color: rgb(0, 110, 255);"></i>
                                <span>Dirección</span>
                                Iris Watson, Box 283 8562, NY
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ct-inside"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
         
  </body>
  
  
  <script>
    /*  ---------------------------------------------------
    Template Name: Activitar
    Description:  Activitar Fitness HTML Template
    Author: Colorlib
    Author URI: https://colorlib.com
    Version: 1.0
    Created: Colorlib
  ---------------------------------------------------------  */
  
  'use strict';
  
  (function ($) {
   
    
  
  
      // Smooth scrolling using jQuery easing
      $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: (target.offset().top - 72)
            }, 1000, "easeInOutExpo");
            return false;
          }
        }
      });
    
      // Closes responsive menu when a scroll trigger link is clicked
      $('.js-scroll-trigger').click(function() {
        $('.navbar-collapse').collapse('hide');
      });
    
      // Activate scrollspy to add active class to navbar items on scroll
      $('body').scrollspy({
        target: '#mainNav',
        offset: 75
      });
    
      // Collapse Navbar
      var navbarCollapse = function() {
        if ($("#mainNav").offset().top > 100) {
          $("#mainNav").addClass("navbar-scrolled");
        } else {
          $("#mainNav").removeClass("navbar-scrolled");
        }
      };
  
      // Collapse now if page is not at top
      navbarCollapse();
      // Collapse the navbar when page is scrolled
      $(window).scroll(navbarCollapse);
    
      // Magnific popup calls
      $('#portfolio').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
          enabled: true,
          navigateByImgClick: true,
          preload: [0, 1]
        },
        image: {
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
        }
      });
  
      /*------------------
          Preloader
      --------------------*/
      $(window).on('load', function () {
          $(".loader").fadeOut();
          $("#preloder").delay(200).fadeOut("slow");
  
          /*------------------
              Gallery filter
          --------------------*/
          $('.gallery-controls ul li').on('click', function() {
              $('.gallery-controls ul li').removeClass('active');
              $(this).addClass('active');
          });
          if($('.gallery-filter').length > 0 ) {
              var containerEl = document.querySelector('.gallery-filter');
              var mixer = mixitup(containerEl);
          }
  
          $('.blog-gird').masonry({
              itemSelector: '.grid-item',
              columnWidth: '.grid-sizer',
          });
  
      });
  
      /*------------------
          Background Set
      --------------------*/
      $('.set-bg').each(function () {
          var bg = $(this).data('setbg');
          $(this).css('background-image', 'url(' + bg + ')');
      });
  
      /*------------------
          Navigation
      --------------------*/
      $(".mobile-menu").slicknav({
          prependTo: '#mobile-menu-wrap',
          allowParentLinks: true
      });
  
      /*------------------
          Menu Hover
      --------------------*/
      $(".header-section .nav-menu .mainmenu ul li").on('mousehover', function() {
          $(this).addClass('active');
      });
      $(".header-section .nav-menu .mainmenu ul li").on('mouseleave', function() {
          $('.header-section .nav-menu .mainmenu ul li').removeClass('active');
      });
  
      /*------------------
          Carousel Slider
      --------------------*/
      $(".hero-items").owlCarousel({
          loop: true,
          margin: 0,
          nav: true,
          items: 1,
          dots: true,
          animateOut: 'fadeOut',
          animateIn: 'fadeIn',
          navText: ['<i class="arrow_carrot-left"></i>', '<i class="arrow_carrot-right"></i>'],
          smartSpeed: 1200,
          autoHeight: false,
      });
  
      /*------------------
          Testimonial Slider
      --------------------*/
     $(".testimonial-slider").owlCarousel({
          loop: true,
          margin: 0,
          nav: false,
          items: 1,
          dots: true,
          navText: ['<i class="arrow_carrot-left"></i>', '<i class="arrow_carrot-right"></i>'],
          smartSpeed: 1200,
          autoHeight: false,
          autoplay: true,
      });
  
      /*------------------
          Magnific Popup
      --------------------*/
      $('.video-popup').magnificPopup({
          type: 'iframe'
      });
  
      $('.image-popup').magnificPopup({
          type: 'image'
      });
  
      /*------------------
          Magnific Popup
      --------------------*/
      $('.show-result-select').niceSelect();
  
      /*------------------
         Timetable Filter
      --------------------*/
      $('.timetable-controls ul li').on('click', function() {
          var tsfilter = $(this).data('tsfilter');
          $('.timetable-controls ul li').removeClass('active');
          $(this).addClass('active');
          
          if(tsfilter == 'all') {
              $('.classtime-table').removeClass('filtering');
              $('.ts-item').removeClass('show');
          } else {
              $('.classtime-table').addClass('filtering');
          }
          $('.ts-item').each(function(){
              $(this).removeClass('show');
              if($(this).data('tsmeta') == tsfilter) {
                  $(this).addClass('show');
              }
          });
      });
  })(jQuery);
  </script>
  
    