<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">Fundación Semillas de Esperanza</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="" style="font-size: 25px;">Donaciones</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="contact.html" style="font-size: 25px;">Historias</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="blog.html" style="font-size: 25px;">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="card" style="padding-top: 5%;">
    <div class="card-body">
        <h3 class="card-title" style="text-align: center; padding-bottom: 5%;">Administrador del Blog</h3>


        <div class="container">
            <div class="row justify-content-md-center">

                <form class="col col-lg-6 ">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="title">Título</label>
                            <input type="text" [(ngModel)]="blogModel.title" class="form-control" id="title" placeholder="Título" name="title">
                        </div>
                        <!--<div class="form-group col-md-6">
                            <label for="subtitle">Subtítulo</label>
                            <input type="text"  class="form-control" id="subtitle" placeholder="Subtítulo">
                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <input type="text" [(ngModel)]="blogModel.description" class="form-control" id="description" placeholder="Descripción" name="description">
                    </div>
                                        
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input accept="application/image/png,image/jpeg" #foto required id="fotos" multiple type="file">
                        </div>
                    </div>


                    <button type="submit" (click)="guardar()" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>

    </div>
</div>

